### BASIC ###
.gradle
build
**/bin/**
**/out/**
HELP.md
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### For Local Developement ###
application-local.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
_DS_Store
.DS_Store

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
