<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Arisolu BusinessCard </title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="common/css/common.css">
    <link rel="stylesheet" href="css/index.css"/>
    <script type="text/javascript" src="common/js/jquery-2.1.1.min.js"></script>

    <script type="text/javascript">
    function popupOpen(){
	    var loginUrl = "member/login";
	    var popOption = "width=370, height=360, resizable=no, scrollbars=no, status=no;";
		window.open(loginUrl,"",popOption);
	}
    </script>

</head>

<body>
<header>
    <h1>Arisolu Business Card</h1>
    <div class="snsSet">
        <a href="/loginForm">login/sign in</a>
<!--        <a href="#"><i class="fa fa-fw fa-instagram"></i></a>-->
    </div>
</header>
<!-- header e -->

<!--
    TODO
    다국어 설정
 -->
<!--<nav>-->
<!--    <a href="#">language</a>-->
<!--</nav>-->
<!-- nav e -->

<section>
    <article>
        <div class="bg bg1">
            <span>Contents1</span>
        </div>
    </article>
    <!-- article 1 e -->

    <article>
        <div class="txt">
            <i class="fa fa-arrow-right"></i>
            <p>
                <strong>Contents2</strong><br />
                <em>ContentsContentsContentsContentsContentsContentsContents<br />
                    ContentsContentsContents</em>
            </p>
        </div>
    </article>
    <!-- article 2 e -->

    <article>
        <div class="txt">
            <i class="fa fa-spin fa-refresh"></i>
            <p><strong>Contents3</strong></p>
        </div>
    </article>
    <!-- article 3 e -->

    <article>
        <div class="bg bg2">
            <span>Contents4</span>
        </div>
    </article>
    <!-- article 4 e -->

    <article>
        <div class="bg bg3">
            <span>Contents5</span>
        </div>
    </article>
    <!-- article 5 e -->

    <article>
        <div class="txt">
            <i class="fa fa-arrow-right"></i>
            <p>
                <strong>Contents6</strong><br />
                <em>ContentsContentsContentsContentsContentsContentsContents<br />
                    ContentsContents</em>
            </p>
        </div>
    </article>
    <!-- article 6 e -->

    <article>
        <div class="bg bg4">
            <span>Contents7</span>
        </div>
    </article>
    <!-- article 7 e -->

    <article>
        <div class="txt">
            <i class="fa fa-arrow-right"></i>
            <strong>Contents8</strong><br />
            <em>ContentsContentsContents <br />
                Contents</em>
        </div>
    </article>
    <!-- article 8 e -->
</section>
<!-- section e -->
<footer>
    <p>copyRight2020</p>
</footer>
<!-- footer e -->
</body>

</html>